body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 400;
    line-height: 2rem;
<<<<<<< HEAD
    margin: 20px;
=======
    padding: 30px;
>>>>>>> feature-c
}